body{
    text-align: center;
}

header{
    background: #F9ABE8;
}

.contenedor-canvas{
    background: lightgrey;
}

.tituto-principal{
    font-size: 40px;
    padding: 25px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descrition{
    font-size: 25px;
    padding: 25px 15px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width:480px){
    .contenedor-canvas{
        width: 20rem;
        height: 25rem;
    }

}